<section id="about">
    <div class="container clearfix">
        <div class="photo col-md-6">
        </div>
        <div class="aboutme col-md-6 col-sm-12">
            <h2 class="accent">Who I Am</h2>
            <h4 class="accent">Problem-solver, creative thinker and wearer of many hats.</h4>
            <p class="hidden-xs">I have a <span class="accent">B.S. in Interactive Media</span> with a minor in <span class="accent">Graphic Design</span> from <span class="accent">Bradley University</span> in Peoria, Illinois. I'm a Chicagoland native currently living and working in Peoria.</p>
            <p>I have a varied skill set in digital production. <span class="accent">HTML, CSS, Javascript and jQuery</span> are my stronger web production skills. I also have skills in 2D and 3D animation using <span class="accent">After Effects and Maya</span>. I'm always looking to learn more and improve my skills to provide better work.</p>
            <p class="hidden-xs">I want to be the creator of something great, something people will remember and talk about.</p>
        </div>
    </div>
</section>