<section id="skills">
      <div class="container clearfix">
        <div class="skills col-md-6 col-sm-6 col-xs-12">
            <div class="techSkills">
                <h2>Technical Skills</h2>
                <p>HTML &amp; CSS3<br />
                <img class="skill" src="img/skills/HTMLCSS3.png" alt="HTML & CSS3"></p>
                <p>Responsive Design<br />
                <img class="skill" src="img/skills/Responsive-Design.png" alt="Responsive Design"></p>
                <p>2D Animation<br />
                <img class="skill" src="img/skills/2D-Animation.png" alt="2D Animation"></p>
                <p>Javascript &amp; jQuery<br />
                <img class="skill" src="img/skills/Javascript.png" alt="Javascript & jQuery"></p>
                <p>3D Modeling<br />
                <img class="skill" src="img/skills/3D-Modeling.png" alt="3D Modeling"></p>
            </div>
            <div class="personalSkills">
                <h2>Personal Skills</h2>
                <p class="cols3 skill">Creative<br />Quick Learner<br />Motivated<br />Decisive<br />Problem Solver<br />Responsible<br />Determined<br />Teamworker</p>
            </div>
        </div>
        <div class="education col-md-6 col-sm-6 col-xs-12">
            <h2>Work and Education</h2>
            <div class="work">
                <p class="years">Beginning August 2015</p>
                <div class="info">
                    <h3>IM110 Lab Instructor</h3>
                    <p>Bradley University - Department of Interactive Media</p>
                </div>
            </div>
            <div class="work">
                <p class="years">2013 - Present</p>
                <div class="info">
                    <h3>Web and Graphic Designer</h3>
                    <p>Illinois Mutual Life Insurance Company
                        <ul class="list-unstyled">
                            <li>HTML &amp; CSS</li>
                            <li>Responsive Design &amp; Development</li>
                            <li>Cross Browser Compatibility (IE8+)</li>
                            <li>jQuery</li>
                            <li>DNN Skinning</li>
                            <li>Sharepoint Skinning</li>
                            <li>MailChimp Email Campaigns</li>
                            <li>2D Animation</li>
                        </ul>
                    </p>
                </div>
            </div>
            <div class="work">
                <p class="years">2011 - 2012</p>
                <div class="info">
                    <h3>Multimedia Design Intern</h3>
                    <p>Pearl Insurance
                        <ul class="list-unstyled">
                            <li>HTML &amp; CSS</li>
                            <li>Responsive Design &amp; Development</li>
                            <li>DNN Skinning</li>
                        </ul>
                    </p>
                </div>
            </div>
            <div class="school">
                <p class="years">2009 - 2013</p>
                <div class="info">
                    <h3>Bachelor of Science in Interactive Media<br />Graphic Design Minor</h3>
                    <p>Bradley University</p>
                </div>
            </div>
        </div>
      </div>
    </section>